{% extends "layout.html" %}

{% block body %}
<h1>Add a book!</h1>
<form method="post">
    <label for="author">Author: </label><br>
    <input type="text" id="author" name="author"/><br>
    <label for="title">Title: </label><br>
    <input type="text" id="title" name="title"/><br>
    <label for="publisher">Publisher: </label><br>
    <input type="text" id="publisher" name="publisher"/><br>
    <label for="address">Address: </label><br>
    <input type="text" id="address" name="address"/><br>
    <label for="year">Year: </label><br>
    <input type="text" id="year" name="year"/><br>
    <button type="submit" style="margin:8px">Add</button>
    
</form>
{% endblock %}