{% extends "layout.html" %}

{% block title %}
Add a manual
{% endblock %}

{% block body %}
<h1>Add a manual!</h1>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method="post">
    
    <label for="title">Title: </label><br>
    <input type="text" id="title" name="title" required/><br>
    
    <label for="author">Author (optional): </label><br>
    <input type="text" id="author" name="author"/><br>

    <label for="year">Year (optional): </label><br>
    <input type="text" id="year" name="year"/><br>

    <label for="organization">Organization (optional): </label><br>
    <input type="text" id="organization" name="organization"/><br>

    <label for="address">Address (optional): </label><br>
    <input type="text" id="address" name="address"/><br>

    <label for="edition">Edition (optional): </label><br>
    <input type="text" id="edition" name="edition"/><br>

    <label for="month">Month (optional): </label><br>
    <input type="text" id="month" name="month"/><br>

    <label for="note">Note (optional): </label><br>
    <input type="text" id="note" name="note"/><br>

    <button type="submit" style="margin:8px">Add</button>
    
</form>
<a href="/">Back to home page</a>
{% endblock %}