<!DOCTYPE html>
<title>{% block title %} {% endblock %}</title>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% block body %} {% endblock %}
<marquee>Made by: Joel, Eljas, Soki, Niilo, Lasse</marquee>
</body>
</html>